
@{
    ViewData["Title"] = "About";
}
<br /><br />

<h1 class="mt-5 text-center"> what people say <span class="text-success">About Us</span></h1>
<br /><br />
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <img src="img/slide2.jpg.jpg" class="rounded-circle mt-5" alt="about school" width="500" height="500">
        </div>
        <div class="col-md-6">
            <p>Education is an essential part of our lives. We are nothing without knowledge, and education is what separates us from others. The<br /> main step to acquiring education is enrolling oneself in a school.<br /> serves as the first learning place for most of the people. Similarly,<br /> it is the first spark in receiving an education. In this essay on my<br /> school, I will tell you why I love my school and what my school<br /> has taught me.</p>
        </div>
    </div>

</div>

