@model PNLS.Edusystem.Models.AdMin
@{
    ViewData["Title"] = "ADMIN";
}

<h1 class="mt-5">Welcom to PNLS.EduSystem</h1>
<br />

<a asp-action="DashBord" asp-controller="Home"><span><button class="btn btn-secondary" style="height:auto;width:100px">See Data</button></span></a>
<p>@ViewBag.message</p>
<a asp-action="Logout" asp-controller="Home">Logout</a>

