@model PNLS.Edusystem.Models.StudentsRecod

@{
    ViewData["Title"] = "Create";
}
<<<<<<< HEAD
<h4 class="mt-5"> Student Recod</h4>
=======
<h4> Student Recod</h4>
<hr />
>>>>>>> 24503d62ca4c307ea39894e3c1b1ef5b1cb4efb2
<div class="container bg-success p-5">
   
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>

                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
                <label asp-for="Deparment" class="control-label"></label>
                <input asp-for="Deparment" class="form-control" />
                <span asp-validation-for="Deparment" class="text-danger"></span>

                <label asp-for="Adress" class="control-label"></label>
                <input asp-for="Adress" class="form-control" />
                <span asp-validation-for="Adress" class="text-danger"></span>

                <label asp-for="provence" class="control-label"></label>
                <input asp-for="provence" class="form-control" />
                <span asp-validation-for="provence" class="text-danger"></span>

                <label asp-for="fee" class="control-label"></label>
                <input asp-for="fee" class="form-control" />
                <span asp-validation-for="fee" class="text-danger"></span>
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>

            </div>
            <div class="col">
                <label asp-for="fatherName" class="control-label"></label>
                <input asp-for="fatherName" class="form-control" />
                <span asp-validation-for="fatherName" class="text-danger"></span>

                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>

                <label asp-for="Level" class="control-label"></label>
                <input asp-for="Level" class="form-control" />
                <span asp-validation-for="Level" class="text-danger"></span>

                <label asp-for="Mobile" class="control-label"></label>
                <input asp-for="Mobile" class="form-control" />
                <span asp-validation-for="Mobile" class="text-danger"></span>

                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>

                <label asp-for="Distrit" class="control-label"></label>
                <input asp-for="Distrit" class="form-control" />
                <span asp-validation-for="Distrit" class="text-danger"></span>

                <label asp-for="Joindate" class="control-label"></label>
                <input asp-for="Joindate" class="form-control" />
                <span asp-validation-for="Joindate" class="text-danger"></span>
                <br />
                <input type="submit" value="Submit" class="btn btn-info" />


                
            </div>
        </div>
    </form>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
